
# 
Project/.vs/
Project/x64/
Project/**/*.obj

#
*.pyd
*.exp

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*.log
*.tlog
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.iobj
*.pch
*.pdb
*.idb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.enc
